<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li class="active" id="li_akira">
                <a href="/timesheet"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>Akira Timesheet</a>
            </li>
            <li id="my_timesheet">
                <a href="<%= my_timesheet_path(current_user.id) %>" ><span class="fa-stack fa-lg pull-left"><i class="fa fa-clock-o fa-stack-1x "></i></span> My Timesheet</a>
            </li>
            <li id="manage_details">
                <a href="/details" id = "details"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x"></i></span> Manage Details</a>
                <!--
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/details#client"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Clients</a></li>
                    <li><a href="#project" aria-controls="project" role="tab" data-toggle="tab"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Projects</a></li>
                    <li><a href="/details#role"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Roles</a></li>
                    <li><a href="/details#currency"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Currencies</a></li>

                </ul>
                -->
                 <ul class="nav-pills nav-stacked" style="list-style-type:none;" role="tablist">

                    <li role="presentation" class="active"><a href="#client" aria-controls="client" role="tab" data-toggle="tab"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Clients</a></li>

                    <li role="presentation"><a href="#project" aria-controls="project" role="tab" data-toggle="tab"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Projects</a></li>

                    <li role="presentation"><a href="#role" aria-controls="role" role="tab" data-toggle="tab"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Roles & Rates</a></li>

                     <li role="presentation"><a href="#currency" aria-controls="currency" role="tab" data-toggle="tab"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>Currencies</a></li>

                  </ul>   
            </li>
            <li>
                <a href="/signout"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out fa-stack-1x "></i></span>Sign Out</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
